div.bar {
    background-color: #3f51b5;
    color: white;
    border: none;
    justify-content: space-between;
    display: flex;
}
p {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 0px 20px;
    text-align: center;
    display: inline;
    font-size: 16px;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
button {
    /* make it inline center */

    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    display: inline;
    font-size: 16px;
}
div.rightButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

