<div class="comment containerr">

    <div class="c-controls">
        <a class="delete control-icon" *ngIf="userProfile && comment.user.username === userProfile.username"
            (click)="promptDeleteComment()">
            <i class="fa-solid fa-trash"></i>&nbsp;Delete
        </a>
        <a class="edit control-icon" *ngIf="userProfile && comment.user.username === userProfile.username"
            (click)="toggleEditComment()">
            <i class="fa-solid fa-pen"></i>&nbsp;{{ isEditing ? 'Save' : 'Edit' }}
        </a>
        <a class="reply control-icon" (click)="addReplyComment()"
            *ngIf="!userProfile|| userProfile && comment.user.username !== userProfile.username">
            <i class="fa-solid fa-reply"></i>&nbsp;Reply
        </a>
    </div>
    <div class="c-user">
        <img src="{{ comment.user.avatar }}" alt="" class="usr-img">
        <p class="usr-name" [ngClass]="{'this-user': userProfile && comment.user.username === userProfile.username}">
            {{ comment.user.username }}
        </p>
        <p class="cmnt-at">{{ formatTime(comment.publish_date.toString()) }}</p>
    </div>
    <p class="c-text">
        <span class="reply-to"></span>
        <span class="c-body" [attr.contenteditable]="isEditing" (input)="onContentChange($event)">
            {{ comment.content }}
        </span>
    </p>
</div><!--comment-->

<div class="replies comments-wrp" *ngIf="replies">
    <app-comment-item *ngFor="let reply of replies" [comment]="reply" [userProfile]="userProfile"></app-comment-item>
    <div class="comment-section" [class.invisible2]="!isAddingReply" *ngIf="userProfile ">
        <app-add-comment-form [userProfile]="userProfile" [eBook]="eBook" [comment]="comment"></app-add-comment-form>
    </div>
</div><!--replies-->

<div class="modal-wrp invisible">
    <div class="modaal container">
        <h3>Delete comment</h3>
        <p>Are you sure you want to delete this comment? This will remove the comment and can't be undone</p>
        <button class="yes">YES, DELETE</button>
        <button class="no">NO, CANCEL</button>
    </div>
</div>

<dialog id="signinDialog">
    <h2>Please Sign In first</h2>
    <div class="button-containerr">
        <button class="cancel" (click)="closesigninDialog()">Cancel</button>
        <button class="ok">login</button>
    </div>
</dialog>