.for-dropdown {
  position: relative;
  display: inline-block;
}
.headd{
  border-radius: 4px;
  background-color: #e9e6e6;
  position: relative;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 17px;
  padding: 8px 8px 8px 0px;
  line-height: 2;
  height: 50px;
  width: 250px;
  cursor: pointer;
  color: black;
}.headd i{
  margin-left: 20%;
}
.for-dropdown li a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  display: block;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.for-dropdown a:hover {
  background-color: #ddd;
}

.section-dropdown {
  display: none;
  position: absolute;
  padding: 5px;
  background-color: hsl(230, 100%, 96%);
  top: 53px;
  left: 0;
  min-width: 250px;
  border-radius: 4px;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 1;
}

ul {
  list-style: none;
}

.section-dropdown li a {
  padding: 5px;
  text-decoration: none;
  display: block;
  border: none;
  cursor: pointer;
  color: hsl(240, 82%, 32%);
  background-color: hsl(230, 100%, 96%);
}

.section-dropdown li a:hover {
  background-color: hsl(230, 50%, 90%);
  color: black;
}

.for-dropdown:hover .section-dropdown {
  display: block;
}

.fa-arrow-right {
  float: right;
}

.fa-arrow-down {
  margin-left: 5px;
}
