<section id="changePassword">
    <form [formGroup]="userData" (ngSubmit)="ChangePassword()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" formControlName="username">
            <div
                *ngIf="userData.get('username')?.invalid && (userData.get('username')?.touched || userData.get('username')?.dirty)">
                <small class="text-danger" *ngIf="userData.get('username')?.hasError('required')">Username is
                    required</small>
                <small class="text-danger" *ngIf="userData.get('username')?.hasError('pattern')">Username must be only
                    characters</small>
            </div>
            <small *ngIf="username_fail" class="text-danger">{{ username_fail }}</small>
        </div>
        <div class="form-group">
            <label>Old Password</label>
            <input type="password" class="form-control" placeholder="Old Password" formControlName="old_password">
            <div
                *ngIf="userData.get('old_password')?.invalid && (userData.get('old_password')?.touched || userData.get('old_password')?.dirty)">
                <small class="text-danger" *ngIf="userData.get('old_password')?.hasError('required')">Password is
                    required</small>
            </div>
        </div>
        <div class="form-group">
            <label>New Password</label>
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control newInput"
                    placeholder="New Password" formControlName="new_password">
                <div class="input-group-append">
                    <button type="button" class="btn2 btn-outline-secondary" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </button>
                </div>
            </div>
            <div
                *ngIf="userData.get('new_password')?.invalid && (userData.get('new_password')?.touched || userData.get('new_password')?.dirty)">
                <small class="text-danger" *ngIf="userData.get('new_password')?.hasError('required')">Password is
                    required</small>
            </div>
            <div
                *ngIf="userData.get('new_password')?.hasError('pattern') && (userData.get('new_password')?.touched || userData.get('new_password')?.dirty)">
                <small class="text-danger">Password must contain characters and numbers and special characters</small>
            </div>
            <div
                *ngIf="userData.get('new_password')?.hasError('minlength') && (userData.get('new_password')?.touched || userData.get('new_password')?.dirty)">
                <small class="text-danger">Password must be at least 8 characters</small>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="confirm_password">
            <div
                *ngIf="userData.get('confirm_password')?.invalid && (userData.get('confirm_password')?.touched || userData.get('confirm_password')?.dirty)">
                <small class="text-danger" *ngIf="userData.get('confirm_password')?.hasError('required')">Password is
                    required</small>
            </div>
            <div
                *ngIf="userData.errors?.['passwordMismatch'] && (userData.get('new_password')?.touched || userData.get('new_password')?.dirty) && (userData.get('confirm_password')?.touched || userData.get('confirm_password')?.dirty)">
                <small class="text-danger">Passwords must match</small>
            </div>
        </div>
        <button type="submit" class="btnn" [disabled]="userData.invalid">Save Changes</button>
        <div class="alert">
            <small *ngIf="changeSuccefully" class="sucess"><i class="fa-solid fa-square-check"></i>Password changed
                successfully!</small>
            <small *ngIf="changeFail" class="fail"><i class="fa-solid fa-square-xmark"></i>{{ failMessage }}</small>
        </div>
    </form>
</section>