.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
  position: relative;
  flex: 0 0 calc(33.333% - 30px);
  /* Adjust the margin as needed */
  width: calc(33.333% - 30px);
  /* Adjust the margin as needed */
  min-height: 550px;
}


.col-lg-4 {
  flex: 0 0 33.33333333%;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}


/*Media Queries*/
@media (max-width: 359.98px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .col-lg-4 {
    flex: 0 0 60%;
  }
}

/* Media Query for Small Devices (Phones and Landscape Tablets) */
@media (min-width: 360px) and (max-width: 575.98px) {
  .row {
      width: 188%;
      margin-left: -2%;
      display: flex;
  }

  .col-lg-4 {
    flex: 0 0 60%;
  }
}

/* Media Query for Medium Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .row {
    width: 200%;
    margin-left: 5%;
    display: flex;
}
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .row {
    width: 115%;
    display: flex;
}
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .row {
    width: 100%;
    margin-left: 5%;
    display: flex;
}
}