.blog_section{
    width: 65%;
    margin-left: 25%;
    margin-bottom: 3%;
    margin-top: 5%;
}.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-md-6 {
    position: relative;
    flex: 0 0 calc(33.333% - 30px); /* Adjust the margin as needed */
    width: calc(33.333% - 30px); /* Adjust the margin as needed */
    min-height: 550px;
  }
  
  
  .col-lg-4 {
    flex: 0 0 33.33333333%;
  }
  
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
 @media (min-width: 768px) {
  .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
  }
}

.box {
  margin-top: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
  max-height: 350px;
  vertical-align: middle;
  border-style: none;
  object-fit: cover;
  object-position:top;
}

.detail-box {
  padding: 25px;
}

.detail-box h5 {
  font-size: 18px;
  font-weight: bold;
}

.detail-box h5 {
  font-weight: bold;
  font-size: 1.35rem;
}
.detail-box p {
  font-size: 15px;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}


.detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
}.remove{
    margin-left: 130px;
}

.detail-box a:hover {
  background-color: #ffffff;
  color: #6bb7be;
}
h6{
  color: #4f6365;
  font-style: italic;
  font-size: 20px;
}.progress {
  width: 90%;
  margin-bottom: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eeefef;
  position: relative;
}

.progressTXT {
  font-size: 20px;
  margin-bottom: 10px;
  color: #444545;
  font-style: italic;
  font-weight: bold;
  margin-left: 5px;
}
.progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #6bb7be; 
  transition: width 0.3s ease-in-out;
}
