<section class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto" *ngFor="let eBook of eBooks">
                <div class="box">
                    <div class="img-box">
                        <img [src]="eBook.cover" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>{{ eBook.title }}</h5>
                        <h6>{{ eBook.author.username }}</h6>
                        <ng-container *ngIf="calculateProgress(eBook) > 0">
                            <p class="progressTXT">{{ calculateProgress(eBook) }}%</p>
                            <p class="progress">
                                <span class="progress-bar"
                                      [style.width]="calculateProgress(eBook) + '%'"
                                      [style.backgroundColor]="getProgressColor(calculateProgress(eBook))">
                                </span>
                            </p>
                        </ng-container>
                        <p>{{ eBook.description }}</p>
                        <a [routerLink]="['/reading/ebooks', eBook.id]">Read More</a>
                        <a (click)="removeFavorite(eBook)" class="remove">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
