@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.blog_section {
  width: 65%;
  height: auto;
  margin-left: 25%;
  margin-bottom: 3%;
  margin-top: 5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
  position: relative;
  flex: 0 0 calc(33.333% - 30px);
  /* Adjust the margin as needed */
  width: calc(33.333% - 30px);
  /* Adjust the margin as needed */
  min-height: 550px;
}


.col-lg-4 {
  flex: 0 0 33.33333333%;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.box {
  margin-top: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
  max-height: 350px;
  vertical-align: middle;
  border-style: none;
  object-fit: cover;
  object-position: top;
}

.detail-box {
  padding: 25px;
}

.detail-box h5 {
  font-size: 18px;
  font-weight: bold;
}

.detail-box h5 {
  font-weight: bold;
  font-size: 1.35rem;
}

.detail-box p {
  font-size: 15px;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}


.detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: hsl(230, 62%, 56%);
  ;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid hsl(230, 62%, 56%);
  ;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
}

.remove {
  margin-left: 130px;
}

.detail-box a:hover {
  background-color: #ffffff;
  color: hsl(230, 62%, 56%);
  ;
}

h6 {
  color: #4f6365;
  font-style: italic;
  font-size: 20px;
}

.progress {
  width: 90%;
  margin-bottom: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eeefef;
  position: relative;
}

.progressTXT {
  font-size: 20px;
  margin-bottom: 10px;
  color: #444545;
  font-style: italic;
  font-weight: bold;
  margin-left: 5px;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: hsl(230, 62%, 56%);
  ;
  transition: width 0.3s ease-in-out;
}

.not-found {
  width: 100%;
  color: hsl(230, 62%, 56%);
  font-size: xx-large;
  text-align: center;
  padding-top: 30%;
}

/* Media Query for very Small Devices */
@media (max-width: 359.98px) {}

/* Media Query for Small Devices (Phones and Landscape Tablets) */
@media (min-width: 360px) and (max-width: 575.98px) {}

/* Media Query for Small Devices (Mobile phones) */
@media (max-width: 575.98px) {
  .blog_section {
    margin-top: 30%;
    width: 133%;
    margin-left: 35%;
    margin-bottom: 10%;
  }

  .row {
    display: block;
  }

  .col-md-6 {
    width: 120%;
    min-height: auto;
  }

  .detail-box {
    padding: 15px;
  }

  .detail-box h5 {
    font-size: 16px;
  }

  .detail-box p {
    font-size: 13px;
    -webkit-line-clamp: 3;
  }

  .detail-box a {
    display: inline-block;
    width: 46%;
    margin-left: 3%;
  }

  .remove {
    margin-left: 0;
    margin-top: 2%;
  }
}

/* Media Query for Medium Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {

  .blog_section {
    width: 133%;
    margin-left: 35%;
    margin-bottom: 10%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 170%;
    margin-left: -20%;
  }

  .col-md-6 {
    position: relative;
    flex: 0 0 calc(50% - 30px);
    /* Adjust the margin as needed */
    width: calc(50% - 30px);
    /* Adjust the margin as needed */
    min-height: 550px;
  }

  .detail-box {
    padding: 15px;
  }

  .detail-box h5 {
    font-size: 16px;
  }

  .detail-box p {
    font-size: 13px;
    -webkit-line-clamp: 3;
  }

  .detail-box a {
    display: inline-block;
    width: 46%;
    margin-left: 3%;
  }

  .remove {
    margin-left: 0;
    margin-top: 2%;
  }
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .blog_section {
    margin-bottom: 10%;
    margin-top: 10%;
  }

  .row {
    display: block;
  }

  .col-md-6 {
    width: 80%;
    margin-left: 25%;
    min-height: auto;
  }

  .detail-box {
    padding: 15px;
  }

  .detail-box h5 {
    font-size: 16px;
  }

  .detail-box p {
    font-size: 13px;
    -webkit-line-clamp: 3;
  }

  .detail-box a {
    display: inline-block;
    width: 46%;
    margin-left: 3%;
  }

  .remove {
    margin-left: 0;
    margin-top: 2%;
  }
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .blog_section {
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15%;
  }

  .col-md-6 {
    position: relative;
    flex: 0 0 calc(50% - 30px);
    /* Adjust the margin as needed */
    width: calc(50% - 30px);
    /* Adjust the margin as needed */
    min-height: 550px;
  }

  .detail-box {
    padding: 15px;
  }

  .detail-box h5 {
    font-size: 16px;
  }

  .detail-box p {
    font-size: 13px;
    -webkit-line-clamp: 3;
  }

  .detail-box a {
    height: 20%;
    display: inline-block;
    width: 46%;
    margin-left: 3%;
  }

  .remove {
    margin-left: 0;
  }
}