<section class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto" *ngFor="let eBook of eBooks">
                <div class="box">
                    <div class="img-box">
                        <img [src]="eBook.cover" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>{{ eBook.title }}</h5>
                        <h6>{{eBook.author.username}}</h6>
                        <h6>{{eBook.highestProgess}}</h6>
                        <p>{{ eBook.description }}</p>
                        <a [routerLink]="['/reading/ebooks', eBook.id]">Read More</a>
                        <a (click)="removeFavorite(eBook)" class="remove">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>