img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
h2{
    font-size: 20px;
    margin-bottom: 10px;
}.button{
    border: none;
    display: inline-block;
    color: #fff;
    background-color:hsl(230, 62%, 56%);
    border-radius: 5px;
    padding: 8px 16px;
}