<div class="containerr">
    <div class="reply-input">
        <img src="{{userProfile.avatar}}" alt="" class="usr-img">
        <form [formGroup]="commentForm" (ngSubmit)="submitComment()" class="NewCommentForm">
            <textarea class="cmnt-input" formControlName="formMessage" placeholder="Add a comment..."
                required></textarea>
            <div *ngIf="commentForm?.get('formMessage')?.hasError('required') && commentForm?.get('formMessage')?.touched"
                class="error-message">
                Message is required.
            </div>
            <div *ngIf="commentForm?.get('formMessage')?.hasError('minlength') && commentForm?.get('formMessage')?.touched"
                class="error-message">
                Message must be at least 4 characters long.
            </div>
            <button type="submit" class="bu-primary" [disabled]="commentForm.invalid">SEND</button>
        </form>
    </div>
</div>