.containerr {
    width: 850px;
    border-radius: 8px;
    padding: 1.5rem;
    background-color: #fff;
    height: 215px;
}

.bu-primary {
    background-color: #6bb7be;
    color: #fff;
    border: none;
    padding: .75rem 1.5rem;
    border-radius: 4px;
}

.NewCommentForm {
    width: 100%;
}

.error-message {
    color: red;
}

.reply-input img {
    grid-area: avatar;
    height: 2.5rem;
    width: 2.5rem;
}

.reply-input button {
    grid-area: button;
    align-self: flex-start;
}

.reply-input textarea {
    grid-area: input;
    padding: 1rem;
    width: 100%;
    height: 100px;
    border: 1px solid;
    border-radius: 4px;
    resize: none;
}

.reply-input {
    display: grid;
    margin-bottom: 1rem;
    grid-template-areas: "avatar input button";
    grid-template-columns: min-content auto min-content;
    justify-items: center;
    gap: 1rem;
    min-height: 9rem;
}