<nav class="nav container">
    <a href="#" class="nav logo">
        <i><i class="fas fa-book"></i>
            E-Book Sphere
        </i>
    </a>
    <div class="nav menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#" class="nav__link active-link">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav__item">
                <a (click)="$event.preventDefault(); openEditor()" class="nav__link">
                    <i class="fa-solid fa-file-pen"></i>
                    <span>Maker</span>
                </a>
            </li>
            <li class="nav__item">
                <a [routerLink]="['/reading']" class="nav__link">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Reading</span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="fa-solid fa-headset"></i>
                    <span>Contact</span>
                </a>
            </li>
            <li class="nav__item">
                <a [routerLink]="['/authentication']" class="nav__link">
                    <i class="fa-solid fa-user"></i>
                    <span>User</span>
                </a>
            </li>
        </ul>
    </div>

</nav>