section{
    margin-top: 80px;
    text-align: center;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 50px;
    font-size: xxx-large;
    color: hsl(230deg 51.53% 28.27%);
}
.card_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}.card{
    font-family: cursive;
    padding: 20px;
    width: 300px;
    background-color: hsl(230, 100%, 96%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}.card:hover{
    transform: translateY(-20px);
}