<section class="changePassword">
    <form [formGroup]="userPassword" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>Change Password</h2>
                <ul>
                    <li>your password must be at least 8 characters</li>
                    <li>your password must contain characters and numbers</li>
                </ul>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" formControlName="new_password">
                <div
                *ngIf="userPassword.get('new_password')?.invalid && (userPassword.get('new_password')?.touched || userPassword.get('new_password')?.dirty)">
                <small class="text-danger" *ngIf="userPassword.get('new_password')?.hasError('required')">Password is
                    required</small>
            </div>
            <div
                *ngIf="userPassword.get('new_password')?.hasError('pattern') && (userPassword.get('new_password')?.touched || userPassword.get('new_password')?.dirty)">
                <small class="text-danger">Password must contain characters and numbers</small>
            </div>
            <div
                *ngIf="userPassword.get('new_password')?.hasError('minlength') && (userPassword.get('new_password')?.touched || userPassword.get('new_password')?.dirty)">
                <small class="text-danger">Password must be at least 8 characters</small>
            </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password"
                    formControlName="confirm_password">
                    <div *ngIf="userPassword.get('confirm_password')?.invalid && (userPassword.get('confirm_password')?.touched || userPassword.get('confirm_password')?.dirty)">
                        <small class="text-danger" *ngIf="userPassword.get('confirm_password')?.hasError('required')">Password is required</small>
                    </div>
                    <div
                *ngIf="userPassword.errors?.['passwordMismatch'] && (userPassword.get('new_password')?.touched || userPassword.get('new_password')?.dirty) && (userPassword.get('confirm_password')?.touched || userPassword.get('confirm_password')?.dirty)">
                <small class="text-danger">Passwords must match</small>
            </div>                    
            </div>
            <div class="alertt">
                <small *ngIf="validationSuccess!==''" class="sucess"><i class="fa-solid fa-square-check"></i>{{validationSuccess}}</small>
                <small *ngIf="validationError!==''" class="fail"><i class="fa-solid fa-square-xmark"></i>{{ validationError }}</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btnn">Send</button>
            </div>
        </div>
    </div>
    </form>
</section>