<section class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto" *ngFor="let eBook of directsearchresults">
                <app-e-book-item [eBook]="eBook"></app-e-book-item>
            </div>
            <small>Related eBooks</small>
            <div class="col-md-6 col-lg-4 mx-auto" *ngFor="let eBook of indirectsearchresults">
                <app-e-book-item [eBook]="eBook"></app-e-book-item>
            </div>
        </div>
    </div>
</section>