.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    position: relative;
    flex: 0 0 calc(33.333% - 30px);
    width: calc(33.333% - 30px);
    min-height: 550px;
}


.col-lg-4 {
    flex: 0 0 33.33333333%;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.blog_section {
    margin-bottom: 3%;
    margin-top: 3%;
}


.divider {
    display: table;
    font-size: 24px;
    text-align: center;
    width: 75%;
    margin: 40px auto;
    margin-top: 75px;
}

.divider span {
    display: table-cell;
    position: relative;
}

.divider span:first-child,
.divider span:last-child {
    width: 50%;
    top: 13px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.divider span:first-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}

.divider span:nth-child(2) {
    color: #7a7a7a;
    padding: 0px 5px;
    width: auto;
    white-space: nowrap;
    font-style: italic;
    font-family: math;
}

.divider span:last-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}

/* Dialog spinner */
.circle {
    color: hsl(230, 62%, 56%);
    margin-left: 50%;
}

/*Media Queries*/
@media (max-width: 359.98px) {
    .container {
        margin-left: -40%;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .divider {
        width: 100%;
        margin-left: 40%;
    }

    .col-md-6 .col-lg-4 .mx-auto {
        margin-left: -10%;
    }
}

/* Media Query for Small Devices (Phones and Landscape Tablets) */
@media (min-width: 360px) and (max-width: 575.98px) {
    .row {
        width: 188%;
        margin-left: -2%;
        display: flex;
    }

    .col-lg-4 {
        flex: 0 0 60%;
    }
}

/* Media Query for Medium Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        margin-left: -4%;
    }

    .row {
        width: 220%;
        margin-left: 5%;
        display: flex;
    }
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .row {
        width: 115%;
        display: flex;
    }
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .row {
        width: 100%;
        display: flex;
    }
}