@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    background-color: #f8f8f8;
}

.ebookDetail {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 70px;
}

.btn:active {
    border: none;
}

.btn {
    margin-bottom: 15px;
}

.btn span {
    color: hsl(230, 62%, 56%);
    ;
    font-weight: 600;
}

.btn span:hover {
    color: black;
    border: none;
}

.btn span i {
    margin-right: 5px;
}

.book_detail_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.book_img {
    border-radius: 5px;
    max-height: 600px;
    min-width: 446px;
    overflow: hidden;
}

.book_img img {
    margin: 0;
    width: 100%;
    height: 100%;

}

.items {
    margin-bottom: 1.4rem;
}

.title {
    font-size: 1.5rem;
}

.description {
    opacity: 0.72;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

.book_info {
    overflow-y: scroll;
    max-height: 600px;
    padding: 1.4rem;
}

.book_info .val {
    margin-left: 5px;
}

.book_info::-webkit-scrollbar {
    width: 8px;
}

.book_info::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 6px reba(0, 0, 0, 0.3);
}

.book_info::-webkit-scrollbar-thumb {
    background-color: hsl(230, 62%, 56%);
    ;
    border-radius: 8px;
}

.name {
    font-weight: 550;
    color: hsl(230, 62%, 56%);
    ;
}

.icons {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    gap: 5rem;
}

.icons .fa-solid {
    margin-bottom: 0.5rem;
    color: hsl(230, 62%, 56%);
}

.icons .fa-solid:hover {
    color: black
}

.icons div div {
    opacity: 0.6;
    font-size: 13px;
}

.fa-download {
    margin-left: 1rem;
}

.fa-download:hover {
    cursor: pointer;
}

.container {
    background-color: #f8f8f8;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ratingBook .star {
    margin-left: 3px;
    font-size: 30px;
    opacity: 0.35;
    color: black;
}

.ratingBook .star.active {
    opacity: 1;
    font-size: 30px;
    color: gold;
}

.ratingBook .fa-star::selection {
    background-color: transparent;
}

.book_info a {
    text-decoration: none;
    color: black;
}

.book_info a:hover {
    color: #000;
    font-weight: bold;

}

.favourite {
    cursor: pointer;
    color: #000;
    font-size: 30px;
}

.favourite i {
    font-size: 30px;
    margin-left: 6px;
    color: hsl(230, 62%, 56%);
    ;
}

.read:hover {
    cursor: pointer;
}

#signinDialog {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    margin-top: 150px;
}

#signinDialog h2 {
    font-family: cursive;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    color: hsl(230, 62%, 56%);
}

.button-containerr {
    justify-content: space-between;
    margin-left: 24%;
}

.button-containerr button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}

.button-containerr button:first-child {
    background-color: #f5f5f5;
    color: #333;
}

.button-containerr button:first-child:hover {
    background-color: #e0e0e0;
}


.button-containerr button:last-child {
    background-color: hsl(230, 62%, 56%);
    ;
    color: #fff;
}

.button-containerr button:last-child:hover {
    background-color: hsl(230, 50%, 32%);
}


/* Dialog spinner */
.parent-container {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(121, 121, 121, 0.5);
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 37%;
    width: 25%;
    height: 25%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog h2 {

    font-family: cursive;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    color: hsl(230, 62%, 56%);
}

.circle {
    color: hsl(230, 62%, 56%);
}

/* Media Query for very Small Devices (extra small) */
@media (max-width: 359.98px) {
    .parent-container {
        width: 180%;
    }

    .ebookDetail {
        width: 100%;
        margin-left: 0;
        padding: 0 10px;
    }

    .book_detail_content {
        grid-template-columns: 1fr;
    }

    .book_img {
        max-height: 300px;
        min-width: 100%;
    }

    .book_info {
        max-height: 300px;
    }

    #signinDialog {
        width: 90%;
        margin-top: 100px;
    }

    .dialog {
        width: 80%;
        left: 10%;
    }
}

/* Media Query for Small Devices (Phones and Landscape Tablets) */
@media (min-width: 360px) and (max-width: 575.98px) {
    .parent-container {
        width: 180%;
    }

    .ebookDetail {
        width: 100%;
        margin-left: 0;
        padding: 0 10px;
    }

    .book_detail_content {
        grid-template-columns: 1fr;
    }

    .book_img {
        max-height: 300px;
        min-width: 100%;
    }

    .book_info {
        max-height: 300px;
    }

    #signinDialog {
        width: 80%;
        margin-top: 100px;
    }

    .dialog {
        width: 70%;
        left: 15%;
    }
}

/* Media Query for Small Devices (Mobile phones) */
@media (max-width: 575.98px) {
    .parent-container {
        width: 180%;
    }

    .ebookDetail {
        width: 80%;
        margin-left: 0;
        padding: 0 10px;
    }

    .book_detail_content {
        grid-template-columns: 1fr;
    }

    .book_img {
        max-height: 300px;
        min-width: 100%;
    }

    .book_info {
        max-height: 300px;
    }

    #signinDialog {
        width: 80%;
        margin-top: 100px;
    }

    .dialog {
        width: 70%;
        left: 15%;
    }

    .dialog {
        width: 50%;
    }
}

/* Media Query for Medium Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .parent-container {
        width: 190%;
    }

    .ebookDetail {
        width: 95%;
        margin-left: 5%;
        padding: 0 10px;
    }

    .book_detail_content {
        grid-template-columns: 1fr 1fr;
        width: 165%;
        margin-left: -28%;
    }

    .book_img {
        max-height: 400px;
        min-width: 100%;
    }

    .book_info {
        max-height: 400px;
    }

    #signinDialog {
        width: 70%;
        margin-top: 100px;
    }

    .dialog {
        width: 60%;
        left: 20%;
    }
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .parent-container {
        width: 110%;
    }

    .ebookDetail {
        width: 85%;
        margin-left: 7.5%;
        padding: 0 10px;
    }

    .book_detail_content {
        grid-template-columns: 1fr 1fr;
        width: 111%;
        margin-left: -5%;
    }

    .book_img {
        max-height: 500px;
        min-width: 100%;
    }

    .book_info {
        max-height: 500px;
    }

    #signinDialog {
        width: 60%;
        margin-top: 100px;
    }

    .dialog {
        width: 50%;
        left: 25%;
    }
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .parent-container {
        width: 100%;
    }

    .ebookDetail {
        width: 90%;
        margin-left: 10%;
        padding: 0 15px;
    }

    .book_detail_content {
        grid-template-columns: 1fr 1fr;
    }

    .book_img {
        max-height: 600px;
        min-width: 446px;
    }

    .book_info {
        max-height: 600px;
    }

    #signinDialog {
        width: 50%;
        margin-top: 100px;
    }

    .dialog {
        width: 40%;
        left: 30%;
    }
}

/* Media Query for Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
    .ebookDetail {
        width: 80%;
        margin-left: 10%;
        padding: 0 15px;
    }

    .book_detail_content {
        grid-template-columns: 1fr 1fr;
    }

    .book_img {
        max-height: 600px;
        min-width: 446px;
    }

    .book_info {
        max-height: 600px;
    }

    #signinDialog {
        width: 40%;
        margin-top: 100px;
    }

    .dialog {
        width: 30%;
        left: 35%;
    }

    .container {
        min-width: 992px !important;
    }

}