<div class="tem1" [style.display]="isOpenEbook ? 'none' : 'block'">
    <div class="box">
        <h1>Choose from the following:</h1>
        <div class="button-container bctn">

            <input id="open_sfdt" #open_sfdt style="position:fixed; left:-100em" type="file"
                (change)="onFileChange($event)" accept=".sfdt" />

            <button ejs-button (click)="onFileOpenClick()" class="bu">Open an existing eBook</button>
            <button class="button bu" (click)="$event.preventDefault();createEbook()">CREATE A NEW EBOOK</button>
        </div>
    </div>
</div>


<div class="tem2" [style.display]="isOpenEbook ? 'block' : 'none'">
    <div style="margin: 70px" class="test">
        <div class="bar">
            <p>Ebook maker</p>
            <div class="rightButtons">
                <button ejs-button (click)="onSave()">Save</button>
                <button ejs-button (click)="onPrint()">Print</button>
                <button ejs-dropdownbutton [items]="items" content="Export as"
                    (select)="onExportItemClick($event)"></button>
                <button ejs-button (click)="$event.preventDefault();openPublishDialog();">Publish</button>
            </div>
        </div>
        <ejs-documenteditorcontainer #documentEditor height="718" style="display: block" (created)="onCreated()"
            [enableToolbar]="true" [enableSpellCheck]="true" [toolbarItems]="toolbarItems"
            serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/">
        </ejs-documenteditorcontainer>
    </div>
</div>

<!-- Publish dialog -->
<dialog id="publishDialog">
    <h2>Publish Your eBook</h2>
    <div class="form-container">
        <div>
            <label for="ebookTitle">eBook Title:</label>
            <input type="text" id="ebookTitle" name="ebookTitle" [(ngModel)]="ebookTitle" required>
        </div>
        <div>
            <label for="description">eBook description:</label>
            <input type="text" id="description" name="description" [(ngModel)]="description" required>
        </div>
        <div>
            <label for="categorySelect">Select Categories:</label>
            <select multiple #categorySelect>
                <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
            </select>
        </div>
    </div>
    <div class="button-containerr">
        <button (click)="closePublishDialog()">Cancel</button>
        <button (click)="selectCategories(categorySelect.selectedOptions)">Publish</button>
    </div>
</dialog>

<dialog id="ebookNameDialog">
    <h2>Enter the Name of Your eBook</h2>
    <div class="form-container">
        <div>
            <label for="ebooksavedTitle">eBook Title:</label>
            <input type="text" id="ebooksavedTitle" name="ebooksavedTitle" [(ngModel)]="ebooksavedTitle" required>
        </div>
    </div>
    <div class="button-containerr">

        <button class="cancel" (click)="closeEbookNameDialog()">Cancel</button>
        <button class="ok">OK</button>
    </div>
</dialog>