div.bar {

    background-color: #3f51b5;
    color: white;
    border: none;
    justify-content: space-between;
    display: flex;

}

p {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 0px 20px;
    text-align: center;
    display: inline;
    font-size: 16px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button {
    /* make it inline center */

    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    display: inline;
    font-size: 16px;

}

div.rightButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.box {
    font-family: cursive;
    font-style: italic;
    text-align: center;
    margin: 10%;
    padding: 3%;
    background-color: #fff;
    box-shadow: 5px 5px 7px 7px rgb(204 195 195);
    height: 250px;
    width: 900px;
    margin-left: 20%;
    color: hsl(230, 62%, 56%);
}

/* Styles for button container */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8%;
    margin-top: 4%;
    justify-content: space-evenly;
}

/* Styles for buttons */
.bu {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: cursive;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    padding: 10px 30px;
    background-color: hsl(230, 62%, 56%);;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0;
    border: 1px solid hsl(230, 62%, 56%);;
    height: 50px;
}

/* Hover effect */
.bu:hover {
    background-color: #ffffff;
    color: hsl(230, 62%, 56%);;
}

#publishDialog,
#signinDialog,
#alertDialog {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    margin-top: 150px;
}

#publishDialog h2,
#signinDialog h2,
#alertDialog h2 {
    font-family: cursive;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    color: hsl(230, 62%, 56%);
}

.form-container {
    margin-bottom: 20px;
}

.form-container div {
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container select {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container select {
    height: 100px;
}

.button-containerr {
    justify-content: space-between;
}

#signinDialog .button-containerr {
    margin-left: 24%;
}

.button-containerr button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}

.button-containerr button:first-child {
    background-color: #f5f5f5;
    color: #333;
}

#alertDialog .button-containerr button:first-child {
    margin-left: 39%;
}

.button-containerr button:first-child:hover {
    background-color: #e0e0e0;
}

.button-containerr button:last-child {
    background-color: hsl(230, 62%, 56%);;
    color: #fff;
}

.button-containerr button:last-child:hover {
    background-color: hsl(230, 62%, 56%);
}

#ebookNameDialog {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    margin-top: 150px;
}

#ebookNameDialog h2 {
    font-family: cursive;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    color: hsl(230, 62%, 56%);
}