section {
    height: 200vh;
    margin-top: 58px;
    margin-bottom: 2px;
}

/* Dialog spinner */
.parent-container {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(121, 121, 121, 0.5);
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 37%;
    width: 25%;
    height: 25%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog h2 {

    font-family: cursive;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    color: hsl(230, 62%, 56%);
}

.circle {
    color: hsl(230, 62%, 56%);
}

#signinDialogg {
    display: none;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 100px auto;
}

#signinDialogg h2 {
    font-family: cursive;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    color: hsl(230, 62%, 56%);
}

#signinDialogg .button-containerr {
    margin-left: 24%;
}

.button-containerr {
    justify-content: space-between;
}

#signinDialogg .button-containerr {
    margin-left: 24%;
}

.button-containerr button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}

.button-containerr button:first-child {
    background-color: #f5f5f5;
    color: #333;
}

.button-containerr button:first-child:hover {
    background-color: #e0e0e0;
}

#alertDialog .button-containerr button:first-child {
    margin-left: 39%;
}

.button-containerr button:first-child:hover {
    background-color: #e0e0e0;
}

.button-containerr button:last-child {
    background-color: hsl(230, 62%, 56%);
    color: #fff;
}

.button-containerr button:last-child:hover {
    background-color: hsl(230, 50%, 32%);
}

/* Media Query for very Small Devices */
@media (max-width: 359.98px) {
    section {
        width: 180%;
    }

    #signinDialog {
        width: 90%;
        margin-top: 100px;
    }
}

/* Media Query for Small Devices (Phones and Landscape Tablets) */
@media (min-width: 360px) and (max-width: 575.98px) {
    section {
        width: 120%;
    }

    #signinDialog {
        width: 80%;
        margin-top: 100px;
    }
}

/* Media Query for Small Devices (Mobile phones) */
@media (max-width: 575.98px) {
    section {
        width: 180%;
    }

    #signinDialog {
        width: 80%;
        margin-top: 100px;
    }

    .dialog {
        width: 50%;
    }
}

/* Media Query for Medium Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
    section {
        width: 190%;
    }

    #signinDialog {
        width: 70%;
        margin-top: 100px;
    }

}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
    section {
        width: 120%;
    }

    #signinDialog {
        width: 60%;
        margin-top: 100px;
    }
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    section {
        width: 120%;
    }

    #signinDialog {
        width: 50%;
        margin-top: 100px;
    }
}