<div class="parent-container">
    <section>
        <ngx-extended-pdf-viewer [src]="pdfSrc" [(page)]="currentPage" [showDrawEditor]="false"
            [showStampEditor]="false" [showTextEditor]="false" [showOpenFileButton]="false" [showPrintButton]="false"
            [showPropertiesButton]="false" [showDownloadButton]="false" [showHighlightEditor]="false"
            (pageChange)="onPageChange($event)" (pagesLoaded)="onPagesLoaded($event)"></ngx-extended-pdf-viewer>
    </section>

    <div class="overlay" *ngIf="showDialog">
        <div class="dialog">
            <div>
                <h2>Please wait a moment...</h2>
            </div>
            <div class="spinner-border circle"></div>
        </div>
    </div>
    <div class="overlay" *ngIf="showSignDialog">
        <div class="dialog">
            <h2>Please Sign In first</h2>
            <div class="button-containerr">
                <button class="ok" (click)="goToSign()">Sign in</button>
            </div>
        </div>
    </div>
</div>