<div class="box">
    <div class="img-box">
        <img [src]="eBook.cover" alt="">
    </div>
    <div class="detail-box">
        <h5>{{ eBook.title }}</h5>
        <h6>By {{eBook.author.username}}</h6>
        <p *ngIf="userProfile" class="progressTXT">{{calculateProgress(eBook)}}%</p>
        <p *ngIf="userProfile" class="progress">
            <span *ngIf="userProfile" class="progress-bar" [style.width]="calculateProgress(eBook) + '%'"
                [style.backgroundColor]="getProgressColor(calculateProgress(eBook))"></span>
        </p>
        <p>{{ eBook.description }}</p>
        <a [routerLink]="['/reading/ebooks', eBook.id]">Read More</a>
    </div>
</div>