@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.box {
  margin-top: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
  max-height: 350px;
  vertical-align: middle;
  border-style: none;
  object-fit: cover;
  object-position: top;
}

.detail-box {
  padding: 25px;
}

.detail-box h5 {
  font-size: 18px;
  font-weight: bold;
}

.detail-box h5 {
  font-weight: bold;
  font-size: 1.35rem;
}

.detail-box p {
  font-size: 15px;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}


.detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: hsl(230, 62%, 56%);
  ;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid hsl(230, 62%, 56%);
  ;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
}

.detail-box a:hover {
  background-color: #ffffff;
  color: hsl(230, 62%, 56%);
  ;
}

h6 {
  color: #4f6365;
  font-style: italic;
  font-size: 20px;
}

.progress {
  width: 90%;
  margin-bottom: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eeefef;
  position: relative;
}

.progressTXT {
  font-size: 20px;
  margin-bottom: 10px;
  color: #444545;
  font-style: italic;
  font-weight: bold;
  margin-left: 5px;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: hsl(230, 62%, 56%);
  ;
  /* Default color */
  transition: width 0.3s ease-in-out;
}

@media (max-width: 359.98px) {
  .box {
    width: 708%;
  }

  .detail-box {
    padding: 15px;

  }

  .detail-box h5 {
    font-size: 1.2rem;
  }

  .detail-box p {
    font-size: 14px;
  }

  .detail-box a {
    padding: 8px 20px;
  }

  h6 {
    font-size: 18px;
  }
}

/* Media Query for Small Devices (Phones and Landscape Tablets) */
@media (min-width: 360px) and (max-width: 575.98px) {
  .box {
    width: 115%;
  }

  .detail-box {
    padding: 15px;
  }

  .detail-box h5 {
    font-size: 1.2rem;
  }

  .detail-box p {
    font-size: 14px;
  }

  .detail-box a {
    padding: 8px 20px;
  }

  h6 {
    font-size: 18px;
  }
}

/* Media Query for Medium Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .box {
    width: 104%;
  }

  .detail-box {
    padding: 15px;

  }

  .detail-box h5 {
    font-size: 1.2rem;
  }

  .detail-box p {
    font-size: 14px;
  }

  .detail-box a {
    padding: 8px 20px;
  }

  h6 {
    font-size: 18px;
  }
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .detail-box {
    padding: 15px;
  }

  .detail-box h5 {
    font-size: 1.2rem;
  }

  .detail-box p {
    font-size: 14px;
  }

  .detail-box a {
    padding: 8px 20px;
  }

  h6 {
    font-size: 18px;
  }
}

/* Media Query for Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .box {
    width: 105%;
  }

  .detail-box {
    padding: 15px;

  }

  .detail-box h5 {
    font-size: 1.2rem;
  }

  .detail-box p {
    font-size: 14px;
  }

  .detail-box a {
    padding: 8px 20px;
  }

  h6 {
    font-size: 18px;
  }
}