<body>
    <div class="container" id="container" #container>
        <div class="form-container sign-up">
            <form [formGroup]="userData" (ngSubmit)="$event.preventDefault();registerUser()">
                <h1 class="title">Create Account</h1>

                <input type="text" placeholder="First Name" formControlName="first_name">
                <div
                    *ngIf="userData.get('first_name')?.invalid && (userData.get('first_name')?.touched || userData.get('first_name')?.dirty)">
                    <small class="text-danger" *ngIf="userData.get('first_name')?.hasError('required')">First Name is
                        required</small>
                    <small class="text-danger" *ngIf="userData.get('first_name')?.hasError('pattern')">First Name must
                        be only characters</small>
                </div>

                <input type="text" placeholder="Last Name" formControlName="last_name">
                <div
                    *ngIf="userData.get('last_name')?.invalid && (userData.get('last_name')?.touched || userData.get('last_name')?.dirty)">
                    <small class="text-danger" *ngIf="userData.get('last_name')?.hasError('required')">Last Name is
                        required</small>
                    <small class="text-danger" *ngIf="userData.get('last_name')?.hasError('pattern')">Last Name must be
                        only characters</small>
                </div>

                <input type="text" placeholder="Username" formControlName="username">
                <div
                    *ngIf="userData.get('username')?.invalid && (userData.get('username')?.touched || userData.get('username')?.dirty)">
                    <small class="text-danger" *ngIf="userData.get('username')?.hasError('required')">Username is
                        required</small>
                    <small class="text-danger" *ngIf="userData.get('username')?.hasError('pattern')">Username must be
                        only characters</small>
                </div>
                <small *ngIf="usernameFail" class="text-danger">{{ usernameFail }}</small>
                <input type="email" placeholder="Email" formControlName="email">
                <div
                    *ngIf="userData.get('email')?.invalid && (userData.get('email')?.touched || userData.get('email')?.dirty)">
                    <small class="text-danger" *ngIf="userData.get('email')?.hasError('required')">Email is
                        required</small>
                    <small class="text-danger" *ngIf="userData.get('email')?.hasError('email')">Email is invalid</small>
                </div>

                <input type="password" placeholder="Password" formControlName="password">
                <div
                    *ngIf="userData.get('password')?.invalid && (userData.get('password')?.touched || userData.get('password')?.dirty)">
                    <small class="text-danger" *ngIf="userData.get('password')?.hasError('required')">Password is
                        required</small>
                    <small class="text-danger" *ngIf="userData.get('password')?.hasError('pattern')">Password must
                        contain characters and numbers</small>
                    <small class="text-danger" *ngIf="userData.get('password')?.hasError('pattern')">Password must be at
                        least 8 characters long.</small>
                </div>

                <button type="submit" [disabled]="userData.invalid" id="register" #register>Sign Up</button>
                <div class="alert">
                    <small *ngIf="sendFail" class="fail"><i class="fa-solid fa-square-xmark"></i>{{ failMessage
                      }}</small>
                  </div>
            </form>
        </div>
        <div class="form-container sign-in">
            <form [formGroup]="userlogin" (ngSubmit)="$event.preventDefault();loginUser()">
                <h1 class="title">Sign In</h1>
                <input type="text" placeholder="username" name="username" formControlName="username">
                <div
                    *ngIf="userlogin.get('username')?.invalid && (userlogin.get('username')?.touched || userlogin.get('username')?.dirty)">
                    <small class="text-danger" *ngIf="userlogin.get('username')?.hasError('required')">Username is
                        required</small>
                    <small class="text-danger" *ngIf="userlogin.get('username')?.hasError('pattern')">Username must be
                        only characters</small>
                </div>
                <input type="password" placeholder="Password" name="password" formControlName="password">
                <div
                    *ngIf="userlogin.get('password')?.invalid && (userlogin.get('password')?.touched || userlogin.get('password')?.dirty)">
                    <small class="text-danger" *ngIf="userlogin.get('password')?.hasError('required')">Password is
                        required</small>
                    <small class="text-danger" *ngIf="userlogin.get('password')?.hasError('pattern')">Password must
                        contain characters and numbers</small>
                    <small class="text-danger" *ngIf="userlogin.get('password')?.hasError('pattern')">Password must be at
                        least 8 characters long.</small>    
                </div>
                <small *ngIf="loginFialure" class="text-danger">{{ loginFialure }}</small>
                <a class="forget" href="/ForgetPasswordByEmail">Forget Your Password?</a>
                <button [disabled]="userlogin.invalid" id="login" #login>Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login" #loginBtn>Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register" #registerBtn>Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>