<body>
    <nav #nav>
      <button type="button" id="toggle-btn" (click)="toggleVisibility()" #toggleBtn>
        <i class="fa fa-bars"></i>
      </button>
      <span>Gvidas</span>
      <span><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar" class="avatar img-fluid"></span>
      <ul class="sidebar-menu">
        <li><a href="#"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href="#"><i class="fa-solid fa-book"></i>My eBooks</a></li>
        <li><a href="#"><i class="fa fa-bar-chart"></i>Analytics</a></li>
      </ul>
    </nav>
    <section #content>
      <form>
          <div class="form-row">
            <div class="form-group col-md-6 ">
              <label>First name</label>
              <input type="text" class="form-control mr-50" placeholder="First name">
            </div>
            <div class="form-group col-md-6">
              <label >Last name</label>
              <input type="text" class="form-control"  placeholder="Last name">
            </div>
          </div>
          <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control"  placeholder="Username">
            </div>
          <div class="form-group">
              <label >Email</label>
              <input type="email" class="form-control" placeholder="Email">
            </div>
          <div class="form-group">
            <label for="inputAddress">Password</label>
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btnn">Save Changes</button>
        </form>
    </section>
  </body>