<body>
  <nav #nav>
    <button type="button" id="toggle-btn" (click)="toggleVisibility()" #toggleBtn>
      <i class="fa fa-bars"></i>
    </button>
    <span>Hello {{userProfile?.first_name}} <i class="fa-solid fa-heart"></i></span>
    <span><img src="{{userProfile?.avatar}}" alt="avatar" class="avatar img-fluid"></span>
    <ul class="sidebar-menu">
      <li><a routerLink="/User/profile"><i class="fa fa-user"></i>Profile</a></li>
      <li><a routerLink="/User/createdBooks"><i class="fa-solid fa-book"></i>My Own eBooks</a></li>
      <li><a><i class="fa-solid fa-book-open-reader"></i>My Reading List</a></li>
      <li><a href="#"><i class="fa fa-bar-chart"></i>Analytics</a></li>
      <li><a href="#"><i class="fa-solid fa-key"></i>Change Password</a></li>
    </ul>
  </nav>
  <section #content>
    <router-outlet></router-outlet>
  </section>
</body>