<div class="parent-container">
  <nav #nav *ngIf="userProfile">
    <button type="button" id="toggle-btn" (click)="toggleVisibility()" #toggleBtn>
      <i class="fa fa-bars"></i>
    </button>
    <span>Hello {{userProfile.first_name}} <i class="fa-solid fa-heart"></i></span>
    <span>
      <div class="edit-icon">
        <img id="avatar" src="{{userProfile.avatar}}" alt="avatar" class="avatar img-fluid">
        <i class="fa-solid fa-user-slash removeImg" id="remove-icon" (click)="removeProfile()"></i>
        <i class="fas fa-edit" id="edit-icon" (click)="triggerFileInput()">
          <input type="file" id="file-input" accept="image/*" style="display: none;" (change)="onFileSelected($event)">
        </i>
      </div>
    </span>
    <ul class="sidebar-menu">
      <li><a routerLink="/User/profile"><i class="fa fa-user"></i>Profile</a></li>
      <li><a routerLink="/User/createdBooks"><i class="fa-solid fa-book"></i>My Own eBooks</a></li>
      <li><a routerLink="/User/FavoriteList"><i class="fa-solid fa-book-open-reader"></i>My Favorite List</a></li>
      <li><a routerLink="/User/changePassword"><i class="fa-solid fa-key"></i>Change Password</a></li>
    </ul>
  </nav>
  <section #content>
    <router-outlet></router-outlet>
  </section>
  <div class="overlay" *ngIf="showDialog">
    <div class="dialog">
      <div>
        <h2>Please wait a moment...</h2>
      </div>
      <div class="spinner-border circle"></div>
    </div>
  </div>
</div>

<section id="signinDialogg" class="signin-dialog">
  <h2>Please Sign In first</h2>
  <div class="button-containerr">
    <button class="ok" (click)="goToSign()">Sign in</button>
  </div>
</section>