* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    position: fixed;
    width: 270px;
    height: 90%;
    min-height: 350px;
    color: hsl(230, 62%, 56%);
    background: hsl(229, 82%, 87%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    transition: ease-in 0.3s;
    z-index: 100;
    top: 9%;
}

nav.hide {
    width: 0;
}

nav span {
    width: 100%;
    text-align: center;
    font-size: 28px;
    overflow: hidden;
    margin-top: 20px;
}

nav .avatar {
    margin-top: 0;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
}

.sidebar-menu {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    justify-content: space-around;
    height: 39%;
    width: 100%;
    list-style: none;
    overflow: hidden;
}

.sidebar-menu li {
    text-align: center;
    width: 100%;
}

.sidebar-menu li a {
    display: inline-flex;
    align-items: center;
    width: 95%;
    padding: 5px 5px;
    color: hsl(230, 62%, 56%);
    text-decoration: none;
    font-size: 23px;
    transition: ease-in 0.2s;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.sidebar-menu li a:hover {
    color: hsl(230deg 74.81% 69.36%);
    border: 1px solid white;
}

.sidebar-menu li a i {
    margin: 0 18px;
    width: 20px;
}

#toggle-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 18px;
    right: -39px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: hsl(230, 62%, 56%);
    ;
    border-radius: 0 7px 7px 0;
    border: none;
    cursor: pointer;
    color: white;
    transition: linear 0.2s;
}

#toggle-btn:hover {
    color: black;
}

.edit-icon {
    position: relative;
    display: inline-block;
}

#edit-icon {
    position: absolute;
    bottom: 10px;
    right: 7px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(0 0 0 / 0%);
    padding: 5px;
    border-radius: 50%;
}

/* Dialog spinner */
.parent-container {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(121, 121, 121, 0.5);
    /* Semi-transparent background */
    z-index: 9998;
    /* Ensure it's on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 37%;
    width: 25%;
    height: 25%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog h2 {

    font-family: cursive;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    color: cadetblue;
}

.circle {
    color: cadetblue;
}