<div class="rating-container">
    <h3 class="rating-title"><img src="../../../../../assets/images/rate.png">Rate this eBook</h3>
    <div class="rating">
        <input type="number" name="rating" id="ratingValue" hidden>
        <i class="fa fa-star star" data-index="0"></i>
        <i class="fa fa-star star" data-index="1"></i>
        <i class="fa fa-star star" data-index="2"></i>
        <i class="fa fa-star star" data-index="3"></i>
        <i class="fa fa-star star" data-index="4"></i>
    </div>
</div>

<section class="comments">
    <h3 class="header"><i class="fa-solid fa-comments"></i>&nbsp;&nbsp;Comments</h3>
    <ng-template ngFor let-comment [ngForOf]="comments" class="comment-template">
        <div class="comment-wrp">
            <app-comment-item [comment]="comment" [userProfile]="userProfile" [eBook]="eBook"></app-comment-item>
        </div>
    </ng-template>

    <main>
        <div class="comment-section" *ngIf="userProfile">
            <app-add-comment-form [userProfile]="userProfile" [eBook]="eBook"></app-add-comment-form>
        </div>
    </main>
</section>
