/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-pdfviewer/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(230, 62%, 56%);
  border-radius: 8px;
}

/* Media Queries */

/* Extra Small Devices (Portrait Phones) */
@media (max-width: 359.98px) {
  body {
    font-size: 0.813rem;
  }
  /* Add additional styles for extra small devices */
}

/* Small Devices (Phones and Landscape Tablets) */
@media (min-width: 360px) and (max-width: 575.98px) {
  body {
    width: 152%;
    font-size: 0.875rem;
  }
  /* Add additional styles for small devices */
}

/* Medium Devices (Tablets and Desktops) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    width: 160%;
    font-size: 0.875rem;
  }
  /* Add additional styles for medium devices */
}

/* Large Devices (Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 1.125rem;
  }
  /* Add additional styles for large devices */
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 1.25rem;
  }
  /* Add additional styles for extra large devices */
}

/* Extra Extra Large Devices (Very Large Desktops) */
@media (min-width: 1200px) and (max-width: 1599.98px) {
  body {
    font-size: 1.375rem;
  }
  /* Add additional styles for very large devices */
}

/* Extra Extra Extra Large Devices (Larger Desktops) */
@media (min-width: 1600px) {
  body {
    font-size: 1.5rem;
  }
  /* Add additional styles for larger devices */
}
