<section class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6" *ngFor="let eBook of eBooks">
                <div  *ngIf="eBook.is_reviewed">
                    <div class="box">
                        <div class="img-box">
                            <img [src]="eBook.cover" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>{{ eBook.title }}</h5>
                            <h6>By You</h6>
                            <p>{{ eBook.description }}</p>
                            <a [routerLink]="['/reading/ebooks', eBook.id]">Read More</a>
                            <a [routerLink]="['/User/BookAnalysis', eBook.id]" style="margin-left: 130px;">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
