<section class="email-validation">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>Enter Email</h2>
                <h4>We will send you an email to reset your password</h4>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
                <button type="submit" class="btnn">Send</button>
            </div>
        </div>
    </div>
</section>